#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

// Left/Right
#define ARDUX_LEFT 1

// ARTS Row
#define KEY_A 4 //N
#define KEY_R 5 //E
#define KEY_T 6 //I
#define KEY_S 7 //O
// EYIO Row
#define KEY_E 0 //A
#define KEY_Y 1 //R
#define KEY_I 2 //S
#define KEY_O 3 //T

// Define Offsets
#define LEADING_NONES NONE(0,0,0)
#define MIDDLE_NONES NONE(0, 0, 0)
#define TRAILING_NONES NONE(0, 0, 0)

// Include main ardux.io keymap
#include "../../../ardux.dtsi"